<div {{ref this._setRef}}>
    <a class="link-image" href="#" {{on "click" this.openMenu}}>
        <img src="/assets/images/user_1.jpg" />
    </a>
    {{#if this.isOpen}}
        <div class="dropdown">
            <div class="dropdown-item default">
                <img src="/assets/images/user_1_big.jpg" alt="" />
                <div class="profile-content">
                    <div><b>Sathish Kumar</b></div>
                    <div>sathislxg@gmail.com</div>
                    <div><a href="#">Account</a> - <a href="#">Privacy</a></div>
                    <div><a href="#" class="click">View Profile</a></div>
                </div>
            </div>
            <div class="dropdown-item">
                <a class="profile-item" href="">
                    <img src="/assets/images/user_2.jpg" />
                    <div class="profile-content">
                        <div>Sathish Kumar Thangaraj</div>
                        <div class="email">Sathishlxg@gmail.com (default)</div>
                    </div>
                </a>
            </div>
            <div class="dropdown-item">
                <a class="profile-item" href="">
                    <img src="/assets/images/user_1.jpg" />
                    <div class="profile-content">
                        <div class="default-name">Sathish Kumar</div>
                        <div class="email">Sathislxg@gmail.com</div>
                    </div>
                </a>
            </div>
            <div class="dropdown-item">
                <a class="default-btn pull-left" href="#" {{on "click" this.addAccount}}>Add account</a>
                <a class="default-btn pull-right" href="#" {{on "click" this.signOut}}>Sign out</a>
            </div>
        </div>
    {{/if}}
</div>