<nav class="sidebar hide">
    <ul>
        <li><a href="#" class="inbox"><i class="fa fa-thumb-tack fa-lg color-blue"></i><span>Inbox</span></a></li>
        <li><a href="#"><i class="fa fa-send-o fa-lg color-cyan"></i><span>Sent</span></a></li>
        <li><a href="#" class="snooz"><i class="fa fa-clock-o fa-lg color-amber"></i><span>Snoozed</span></a></li>
        <li><a href="#" class="done"><i class="fa fa-check fa-lg color-green"></i><span>Done</span></a></li>
        <li><a href="#"><i class="fa fa-trash fa-lg"></i><span>Trash</span></a></li>
        <li>
            <input type="checkbox" id="drop-menu" />
            <label for="drop-menu" class="sub-menu"><i class="fa fa-cog fa-lg"></i><span>Settings</span></label>
            <ul>
                <li><a href="#" class="reminder"><i class="fa fa-hand-o-up fa-lg"></i><span>Reminders</span></a></li>
                <li><a href="#" class="spam"><i class="fa fa-warning fa-lg color-red"></i><span>Spam</span></a></li>
            </ul>
        </li>
    </ul>
</nav>