<nav class="sidebar {{if isSidebarOpen 'show' 'hide'}}">
    <ul>
        <li class="selected-menu">
            {{#link-to "index" class="inbox"}}
            <i class="fa fa-inbox fa-lg color-blue"></i>
            <span>Inbox</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to "snooze" class="snooze"}}
            <i class="fa fa-clock-o fa-lg color-orange"></i>
            <span>Snooze</span>
            {{/link-to}}
        </li>
        <li class="separator">
            {{#link-to "done" class="done"}}
            <i class="fa fa-check fa-lg color-green"></i>
            <span>Done</span>
            {{/link-to}}
        </li>
        <li>
            <a href="#">
                <i class="fa fa-envelope-o fa-lg color-grey"></i>
                <span>Draft</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-send-o fa-lg color-grey"></i>
                <span>Sent</span>
            </a>
        </li>
        <li>
            <a href="#" class="reminder">
                <i class="fa fa-hand-o-up fa-lg color-grey"></i>
                <span>Reminders</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-trash fa-lg color-grey"></i>
                <span>Trash</span>
            </a>
        </li>
        <li class="separator">
            <a href="#" class="spam">
                <i class="fa fa-warning fa-lg color-grey"></i>
                <span>Spam</span>
            </a>
        </li>
        <li class="separator sidebar-action">
            <a href="#" class="spam">
                <i class="fa fa-plus color-grey"></i>
                <span>Create New...</span>
            </a>
        </li>
        <li>
            <a href="#" class="settings">
                <i class="fa fa-cog fa-lg"></i>
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="#" class="settings">
                <i class="fa fa-question-circle fa-lg"></i>
                <span>Help & Feedback</span>
            </a>
        </li>
    </ul>
</nav>