@import 'common';
@import 'app-bar';
@import 'sidebar';
@import 'floating-action';
@import 'attachments';
@import 'dialog';
@import 'actions-modal';
@import 'compose-editor';
@import 'message-body';
@import 'message-body-animation';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 82.5%;
    background: #fff;
    height: 100%;
    min-width: 300px;
    -webkit-font-smoothing: antialiased !important;
    background: #ececec;
    overflow-y: scroll;
}

.menu-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 56px;
    background: #898984;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: all 0.2s ease-in;
}

.menu-wrapper a {
    text-decoration: none;
    color: #fff;
}

.menu-wrapper.queued {
    background: #edf4fd !important;
}

.menu-wrapper.queued .left-container .back {
    display: inline-block !important;
}

.menu-wrapper.inbox .chk-pin {
    display: table-cell;
}

.menu-wrapper.inbox .search-box {
    width: 98%;
    padding-right: 24px;
}

.menu-wrapper.inbox {
    background: #4285f4;
}

.menu-wrapper.done {
    background: #0f9d58;
}

.menu-wrapper.snoozed {
    background: #eca403;
}

.menu-wrapper.other {
    background: #898984;
}

.menu-wrapper.search {
    background: #f6f6f6;
}

.menu-wrapper.search .back {
    display: inline-block;
    font-size: 16px;
    line-height: 56px;
    padding-left: 15px;
    margin-left: 5px;
    font-weight: normal;
    color: #666666;
}

.menu-wrapper.search .search-box {
    width: 100%;
    padding: 0;
}

.menu-wrapper.search .search-box>input {
    background: white;
    color: #212121;
}

.menu-wrapper.search .logo {
    color: #666666;
    font-weight: normal;
}

.menu-wrapper.search .menu-toggle-icon {
    display: none;
}

.menu-wrapper.search ::-webkit-input-placeholder {
    color: #c0c0c0;
}

.menu-wrapper.search .chk-pin {
    display: none;
}

.menu-wrapper.search a {
    color: #666666;
}

.menu-wrapper.search .icon-bar {
    border-top: 2px solid black;
}

.menu-wrapper.search .search-box:after {
    color: black;
}

.search-hide {
    transform: translateY(-350%);
    opacity: 0;
}

.search-result {
    transition: transform 0.4s ease-in-out, opacity 0.05s ease-out;
    z-index: 1;
    width: 61%;
    left: 18%;
    position: absolute;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.dropdown {
    z-index: 10000;
    position: absolute;
    top: 110%;
    width: 280px;
    line-height: 20px;
    right: 16px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out;
}

.dropdown:after {
    content: "";
    position: absolute;
    top: 0;
    margin-top: -6px;
    right: 12px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 12px;
    margin-top: -8px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
}

.dropdown .dropdown-item {
    position: relative;
    padding: 10px;
}

.dropdown .dropdown-item img {
    width: 96px;
    height: 96px;
    border-radius: 2px;
    float: left;
    cursor: pointer;
}

.dropdown .dropdown-item:not(.default) {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-item:not(.default) img {
    width: 48px;
    height: 48px;
}

.dropdown .dropdown-item:not(last-child):hover,
.dropdown .dropdown-item:not(.default):hover {
    background: #eee;
}

.dropdown .dropdown-item.default:before {
    content: "Change image";
    color: white;
    height: 20px;
    width: 96px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    background: #4285f4;
    opacity: 0.8;
    position: absolute;
    bottom: 12px;
    left: 10px;
    cursor: pointer;
}

.dropdown .dropdown-item:after {
    display: table;
    clear: both;
    content: "";
}

.dropdown .profile-content {
    color: #000;
    text-align: left;
    margin: 6px 10px;
    margin-left: 60px;
}

.dropdown .profile-content .email {
    font-size: 12px;
    line-height: 1em;
    color: #666;
}

.dropdown .profile-content a {
    color: #000;
}

.dropdown .profile-content ul li {
    display: block;
    list-style: none;
    color: black;
}

.dropdown .default .profile-content {
    margin-left: 120px;
    line-height: 1.4;
}

.dropdown .default .profile-content a {
    color: #4285f4;
}

.dropdown .default .profile-content .click {
    display: inline-block;
    margin-top: 5px;
    background: #4285f4;
    padding: 5px 10px;
    color: #fff;
    border-radius: 2px;
}

.default-btn {
    color: #000 !important;
    padding: 5px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}

.body-wrapper {
    position: relative;
    margin: 0 auto;
    top: 65px;
}

.body-wrapper .btn-wrapper {
    position: relative;
}

.body-wrapper .btn-wrapper span {
    display: none;
    position: absolute;
    padding: 6px;
    white-space: nowrap;
    color: #ececec;
    background: rgba(70, 70, 70, 0.9);
    right: 60px;
    top: -10px;
    border-radius: 3px;
}

.body-wrapper .action-btn {
    position: relative;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #ff4d4d;
    z-index: 9999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.body-wrapper .action-btn:after {
    content: "\f067";
    color: white;
    font-size: 18px;
    font-family: FontAwesome;
}

.body-wrapper .action-btn:hover+span {
    display: block;
}

.wrapper {
    position: relative;
    margin: 15px auto;
    width: 80%;
    transition: 0.2s;
}

.wrapper .header {
    padding-bottom: 20px;
    margin: 0 10%;
    position: relative;
    padding-left: 22px;
    color: #616161;
    font-size: 14px;
    font-weight: 500;
}

.wrapper .header button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0.25;
    width: 24px;
    border: none;
    outline: none;
    height: 24px;
    cursor: pointer;
}

.wrapper .header button:hover {
    opacity: 0.75;
}

.wrapper .content-wrapper {
    transition: all 0.2s ease-in-out;
    margin: 0 10%;
    position: relative;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.wrapper .content-wrapper .actions {
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 45px;
    position: absolute;
    display: inline-block;
}

.wrapper .content-wrapper .mail-header {
    overflow: hidden;
}

.wrapper .content-wrapper:focus {
    border-left: 2px solid #4285f4;
}

.wrapper .content-wrapper .image {
    width: 55px;
    height: 45px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.wrapper .content-wrapper .image:hover .selector {
    display: inline-block;
}

.wrapper .content-wrapper .image:hover img {
    display: none;
}

.wrapper .content-wrapper .image .selector {
    position: absolute;
    top: 0;
    left: 2px;
    width: 55px;
    height: 45px;
    display: inline-block;
    z-index: -1;
    cursor: pointer;
}

.wrapper .content-wrapper .image .selector input:checked+span>i {
    display: inline-block;
    color: #fff;
}

.wrapper .content-wrapper .image .selector input:checked+span {
    background: #424242;
}

.wrapper .content-wrapper .image .selector span {
    display: inline-block;
    margin-left: -12px;
    margin-top: -11px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    border: 2px solid #424242;
    border-radius: 3px;
    height: 20px;
    width: 20px;
}

.wrapper .content-wrapper .image .selector i,
.wrapper .content-wrapper .image .selector input {
    display: none;
}

.wrapper .content-wrapper .name {
    float: left;
    width: 184px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* display: inline-block; */
    line-height: 45px;
}

.wrapper .content-wrapper .subject {
    position: relative;
    display: block;
    line-height: 45px;
    min-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-wrapper:hover > .actions .actions-icon-list {
    display: block;
}

.wrapper .content-wrapper .content {
    float: left;
    /* display: inline-block; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 25px;
}

.wrapper .content-wrapper .content .sn {
    color: #757575;
    padding-right: 5px;
}

.wrapper .content-wrapper .done-msg,
.wrapper .content-wrapper .pinned-msg {
    position: absolute;
    right: 18px;
    color: #4285f4;
}

.wrapper .content-wrapper .done-msg {
    color: #33ac71;
}

.content-wrapper:hover .pinned-msg {
    display: none;
}

.wrapper .main-wrapper.mail-selected {
    background: #edf4fd !important;
}

.wrapper .content-wrapper.item-selected>.main-wrapper .actions ul,
.wrapper .content-wrapper.item-selected>.main-wrapper .image>img {
    display: none !important;
}

.wrapper .mail-wrapper {
    margin: 0 10%;
    background: white;
}

.wrapper .mail-wrapper .mail-summary {
    cursor: pointer;
    padding: 20px;
}

.wrapper .mail-wrapper .mail-body .mail-details {
    margin: 0 20px 0 16px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: nowrap;
}

.wrapper .mail-wrapper .mail-body .mail-details .sender {
    margin-top: 20px;
}

.wrapper .mail-wrapper .mail-body .mail-details .sender> :first-child {
    font-weight: bold;
}

.wrapper .mail-wrapper .mail-body .mail-details .message {
    padding: 30px 40px 20px 0;
}

.wrapper .mail-wrapper .mail-footer {
    background: rgba(117, 117, 117, 0.07);
}

.wrapper .mail-wrapper .mail-footer .replybox {
    margin: 0 20px;
    width: auto;
    overflow: hidden;
}

.wrapper .mail-wrapper .mail-footer .replybox:after {
    content: "";
    clear: both;
    left: 0;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft {
    margin-top: 20px;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft span {
    cursor: pointer;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(1) {
    color: #db4437;
    font-weight: bold;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft i,
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(2) {
    color: #999;
    font-weight: bold;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft i:hover,
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(2):hover {
    color: #333;
}

.wrapper .mail-wrapper .mail-footer .replybox textarea {
    font-family: inherit;
    background: rgba(117, 117, 117, 0.01);
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    height: 60px;
}

.wrapper .mail-wrapper .mail-footer .replybox div {
    margin-bottom: 10px;
}

.wrapper .mail-wrapper .mail-footer .replybox a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}

.wrapper .mail-wrapper .mail-footer .replybox a:nth-child(2) {
    transform: rotate(-45deg);
}

.wrapper .mail-wrapper .mail-footer .replybox a.send-btn {
    cursor: pointer;
    background: #4285f4;
    text-decoration: none;
    position: relative;
    padding: 8px;
    font-size: 13px;
    border-radius: 2px;
    color: white;
    font-weight: normal;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 4px 6px rgba(0, 0, 0, 0.24);
}

.wrapper .mail-wrapper .mail-footer .replybox a.send-btn:hover {
    background: #2a75f3;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14), 0 6px 8px rgba(0, 0, 0, 0.24);
}

.wrapper .mail-wrapper img {
    width: 36px;
}

.wrapper .shadow {
    box-shadow: 0 -1px 1px #e5e5e5, 0 2px 1px rgba(0, 0, 0, 0.12);
}

.image {
    float: left;
    padding: 8px;
    position: relative;
}

.image > img {
    width: 28px;
    border-radius: 50%;
}

.arrow:after {
    content: "\f107";
    font-family: "fontAwesome";
}

.snooze-container,
.settings-container {
    position: relative;
}

.empty-page-wrapper {
    position: relative;
    margin: 20px auto;
    width: 80%;
}

.draft-empty-page-wrapper,
.snooze-empty-page-wrapper {
    border: 1px solid transparent;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.07), inset 0 1px 2px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: orange;
}

.draft-empty-page-wrapper {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.draft-empty-page-wrapper .draft-content,
.snooze-empty-page-wrapper .snooze-content {
    text-align: center;
    margin: 25% 0;
    padding: 0 20px;
    color: #5d4037;
}

.draft-content .draft-envelope,
.snooze-content .clock {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.draft-envelope .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.draft-envelope .icon i {
    font-size: 36px;
}

.snooze-content .clock::before,
.snooze-content .clock::after {
    content: "";
    position: absolute;
    background: orange;
    width: 5px;
    height: 28px;
    transform: translateX(-2.5px);
}

.snooze-content .clock::before {
    top: 23px;
}

.snooze-content .clock::after {
    transform: rotate(135deg);
    top: 45px;
    right: 38px;
}

.draft-empty-page-wrapper .draft-content > span,
.snooze-empty-page-wrapper .snooze-content > span {
    font-size: 17px;
    margin-top: 10px;
    display: inline-block;
}

.inbox-empty-page-wrapper .inbox-content,
.done-empty-page-wrapper .done-content {
    padding: 0 20px;
    color: #fff;
    background: #33ac71;
    height: 100px;
    margin: 0 10%;
    border-radius: 2px;
}

.inbox-empty-page-wrapper .inbox-content {
    background: #4285f4;
}

.inbox-empty-page-wrapper .inbox-content>span,
.done-empty-page-wrapper .done-content>span {
    margin: 24px 0;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.inbox-content > button,
.done-content > button {
    position: absolute;
    bottom: 10px;
    right: 170px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    border-radius: 2px;
}

.inbox-content>button:hover,
.done-content>button:hover {
    background: rgba(255, 255, 255, 0.15);
}

.dark-background {
    background: #89898426;
    min-height: 100vh;
    margin: 0 10%;
    border-radius: 2px;
    padding: 10px 0;

    .header {
        margin: 0 2%;
    }

    .content-wrapper {
        margin: 0 2%;
    }

    .mail-wrapper {
        margin: 2% -1%;
    }
}


.info-page-wrapper {
    position: relative;
    margin: 20px auto;
}

.info-page .info-content {
    padding: 20px;
    color: #fff;
    background: #4285f4;
    height: 100px;
    margin: 0 2%;
    border-radius: 2px;
}

.info-content > p {
    margin: 6px 0;
    font-weight: 500;
    font-size: 14px;
}

.info-content > .info-actions {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.info-actions > button{
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    background: transparent;
}

button.disabled {
    color: #eeeeee82;
}

.view-heading {
    display: flex;
    justify-content: space-between;
}

.view-heading .action {
    margin: 2px 30px;
}

.action button {
    background-color: transparent;
    opacity: 0.25;
    width: 24px;
    border: none;
    outline: none;
    height: 24px;
    cursor: pointer;
}

.view-heading > p {
    color: #a52a2abd;
    font-weight: 800;
    font-size: 16px;
    margin: 2px 30px;
}
