* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 82.5%;
    background: #fff;
    height: 100%;
    min-width: 300px;
    -webkit-font-smoothing: antialiased !important;
    background: #ececec;
    overflow-y: scroll;
}

.menu-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 56px;
    background: #898984;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: all 0.2s ease-in;
}

.menu-wrapper a {
    text-decoration: none;
    color: #fff;
}

.menu-wrapper.queued {
    background: #edf4fd !important;
}

.menu-wrapper.queued .left-container .back {
    display: inline-block !important;
}

.menu-wrapper.inbox .chk-pin {
    display: table-cell;
}

.menu-wrapper.inbox .search-box {
    width: 98%;
}

.menu-wrapper.inbox {
    background: #4285f4;
}

.menu-wrapper.done {
    background: #0f9d58;
}

.menu-wrapper.snoozed {
    background: #eca403;
}

.menu-wrapper.other {
    background: #898984;
}

.menu-wrapper.search {
    background: #f6f6f6;
}

.menu-wrapper.search .back {
    display: inline-block;
    font-size: 16px;
    line-height: 56px;
    padding-left: 15px;
    margin-left: 5px;
    font-weight: normal;
    color: #666666;
}

.menu-wrapper.search .search-box {
    width: 100%;
    padding: 0;
}

.menu-wrapper.search .search-box>input {
    background: white;
    color: #212121;
}

.menu-wrapper.search .logo {
    color: #666666;
    font-weight: normal;
}

.menu-wrapper.search .menu-toggle-icon {
    display: none;
}

.menu-wrapper.search ::-webkit-input-placeholder {
    color: #c0c0c0;
}

.menu-wrapper.search .chk-pin {
    display: none;
}

.menu-wrapper.search a {
    color: #666666;
}

.menu-wrapper.search .icon-bar {
    border-top: 2px solid black;
}

.menu-wrapper.search .search-box:after {
    color: black;
}

.left-container,
.right-container {
    min-width: 50px;
    max-width: 250px;
    width: 18%;
    height: 100%;
    line-height: 56px;
    overflow: hidden;
}

.left-container {
    float: left;
}

.left-container .back {
    display: none;
}

.left-container .menu-toggle-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    top: 20%;
    margin-left: 5px;
    line-height: 56px;
    /* display: inline-block; */
    float: left;
}

.left-container .menu-toggle-icon input[type="checkbox"] {
    display: none;
}

.left-container .menu-toggle-icon:active {
    background: rgba(0, 0, 0, 0.05);
}

.left-container .menu-toggle-icon .icon-bar {
    display: block;
    margin: 4px;
    border-top: 2px solid white;
}

.left-container a {
    text-decoration: none;
    color: #fff;
}

.left-container .logo {
    position: relative;
    display: inline-block;
    line-height: 56px;
    padding: 0 10px;
    font-size: 20px;
    width: 80px;
}

.center-container {
    position: relative;
    width: 64%;
    height: 65px;
    margin: 0 auto;
    text-align: center;
}

.center-container .search-box {
    display: table-cell;
    padding-right: 24px;
    line-height: 56px;
    white-space: nowrap;
    transition: 0.2s;
}

.center-container .search-box>input {
    height: 40px;
    width: 100%;
    display: inline-block;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    border: none;
    outline: none;
    color: white;
    padding: 0 0 0 50px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.center-container .search-box:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    color: white;
    font-size: 16px;
    left: 20px;
    cursor: pointer;
}

.center-container .chk-pin {
    display: none;
    line-height: 56px;
    width: 60px;
    margin-right: 10px;
}

.center-container .chk-pin span {
    display: inline-block;
    top: 2px;
    position: relative;
    height: 17px;
    width: 44px;
    border-radius: 20px;
    background: #1266f1;
    cursor: pointer;
}

.center-container .chk-pin span:after {
    content: "\f08d";
    font-family: FontAwesome;
    font-size: 14px;
    transform: rotate(45deg);
    text-align: center;
    color: white;
    position: absolute;
    background: inherit;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: -28%;
    left: -1px;
    line-height: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease;
}

.center-container .chk-pin input {
    display: none;
}

.center-container .chk-pin input:checked+span {
    background: white;
}

.center-container .chk-pin input:checked+span:after {
    left: 22px;
    background: white;
    color: #4285f4;
    transform: rotate(0deg);
}

.center-container ::-webkit-input-placeholder {
    color: white;
}

.center-container .search-wrapper {
    display: table;
    width: 100%;
}

.center-container .queue-items {
    line-height: 56px;
    text-align: left;
    padding: 0 10px 0 20px;
    color: #3c80f6;
    cursor: pointer;
    font-size: 16px;
}

.center-container .queue-action .queue-action-item {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    font-size: 18px;
}

.right-container {
    float: right;
    text-align: right;
}

.right-container nav.menus li {
    display: inline-block;
    margin-right: 15px;
    padding: 2px 5px;
}

.right-container nav.menus li a:hover {
    color: black;
    opacity: 0.5;
}

.right-container nav.menus li .link-image {
    position: relative;
    top: 7px;
}

.right-container nav.menus li .link-image img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.search-hide {
    transform: translateY(-350%);
    opacity: 0;
}

.search-result {
    transition: transform 0.4s ease-in-out, opacity 0.05s ease-out;
    z-index: 1;
    width: 61%;
    left: 18%;
    position: absolute;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.dropdown {
    z-index: 10000;
    position: absolute;
    top: 110%;
    width: 280px;
    line-height: 20px;
    right: 16px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out;
}

.dropdown:after {
    content: "";
    position: absolute;
    top: 0;
    margin-top: -6px;
    right: 12px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 12px;
    margin-top: -8px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
}

.dropdown .dropdown-item {
    position: relative;
    padding: 10px;
}

.dropdown .dropdown-item img {
    width: 96px;
    height: 96px;
    border-radius: 2px;
    float: left;
    cursor: pointer;
}

.dropdown .dropdown-item:not(.default) {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-item:not(.default) img {
    width: 48px;
    height: 48px;
}

.dropdown .dropdown-item:not(last-child):hover,
.dropdown .dropdown-item:not(.default):hover {
    background: #eee;
}

.dropdown .dropdown-item.default:before {
    content: "Change image";
    color: white;
    height: 20px;
    width: 96px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    background: #4285f4;
    opacity: 0.8;
    position: absolute;
    bottom: 12px;
    left: 10px;
    cursor: pointer;
}

.dropdown .dropdown-item:after {
    display: table;
    clear: both;
    content: "";
}

.dropdown .profile-content {
    color: #000;
    text-align: left;
    margin: 6px 10px;
    margin-left: 60px;
}

.dropdown .profile-content .email {
    font-size: 12px;
    line-height: 1em;
    color: #666;
}

.dropdown .profile-content a {
    color: #000;
}

.dropdown .profile-content ul li {
    display: block;
    list-style: none;
    color: black;
}

.dropdown .default .profile-content {
    margin-left: 120px;
    line-height: 1.4;
}

.dropdown .default .profile-content a {
    color: #4285f4;
}

.dropdown .default .profile-content .click {
    display: inline-block;
    margin-top: 5px;
    background: #4285f4;
    padding: 5px 10px;
    color: #fff;
    border-radius: 2px;
}

.default-btn {
    color: #000 !important;
    padding: 5px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.body-wrapper {
    position: relative;
    margin: 0 auto;
    top: 65px;
}

.body-wrapper .btn-wrapper {
    position: relative;
}

.body-wrapper .btn-wrapper span {
    display: none;
    position: absolute;
    padding: 6px;
    white-space: nowrap;
    color: #ececec;
    background: rgba(70, 70, 70, 0.9);
    right: 60px;
    top: -10px;
    border-radius: 3px;
}

.body-wrapper .action-btn {
    position: relative;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #ff4d4d;
    z-index: 9999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.body-wrapper .action-btn:after {
    content: "\f067";
    color: white;
    font-size: 18px;
    font-family: FontAwesome;
}

.body-wrapper .action-btn:hover+span {
    display: block;
}

.wrapper {
    position: relative;
    margin: 15px auto;
    width: 80%;
    transition: 0.2s;
}

.wrapper .header {
    padding-bottom: 20px;
    margin: 0 10%;
    position: relative;
    padding-left: 22px;
    color: #616161;
    font-size: 14px;
    font-weight: 500;
}

.wrapper .header button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0.25;
    width: 24px;
    border: none;
    outline: none;
    height: 24px;
    cursor: pointer;
}

.wrapper .header button:hover {
    opacity: 0.75;
}

.wrapper .content-wrapper {
    transition: all 0.2s ease-in-out;
    margin: 0 10%;
    position: relative;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.wrapper .content-wrapper .actions {
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 45px;
    position: absolute;
    display: inline-block;
}

.wrapper .content-wrapper .mail-header {
    overflow: hidden;
}

.wrapper .content-wrapper:focus {
    border-left: 2px solid #4285f4;
}

.wrapper .content-wrapper .image {
    width: 55px;
    height: 45px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.wrapper .content-wrapper .image:hover .selector {
    display: inline-block;
}

.wrapper .content-wrapper .image:hover img {
    display: none;
}

.wrapper .content-wrapper .image .selector {
    position: absolute;
    top: 0;
    left: 2px;
    width: 55px;
    height: 45px;
    display: inline-block;
    z-index: -1;
    cursor: pointer;
}

.wrapper .content-wrapper .image .selector input:checked+span>i {
    display: inline-block;
    color: #fff;
}

.wrapper .content-wrapper .image .selector input:checked+span {
    background: #424242;
}

.wrapper .content-wrapper .image .selector span {
    display: inline-block;
    margin-left: -12px;
    margin-top: -11px;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    border: 2px solid #424242;
    border-radius: 3px;
    height: 20px;
    width: 20px;
}

.wrapper .content-wrapper .image .selector i,
.wrapper .content-wrapper .image .selector input {
    display: none;
}

.wrapper .content-wrapper .name {
    float: left;
    width: 184px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* display: inline-block; */
    line-height: 45px;
}

.wrapper .content-wrapper .subject {
    position: relative;
    display: block;
    line-height: 45px;
    min-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-wrapper:hover>.actions .actions-icon-list {
    display: block;
}

.actions.menu-active .actions-icon-list {
    display: block;
}

.item-selected .actions-icon-list {
    display: none !important;
}

.actions .actions-icon-list {
    list-style: none;
    padding-right: 15px;
    right: 0px;
    display: none;
    background: white;
}

.actions .actions-icon-list .action-icon {
    display: inline-block;
    margin: 0 2px;
}

.actions .actions-icon-list .action-icon a {
    text-decoration: none;
    padding: 5px;
    color: black;
    opacity: 0.5;
}

.actions .actions-icon-list .action-icon a:hover {
    opacity: 0.8;
}

.actions-icon-list .action-icon a.pinned {
    opacity: 1;
    color: #4285f4;
}

.wrapper .content-wrapper .content {
    float: left;
    /* display: inline-block; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 25px;
}

.wrapper .content-wrapper .content .sn {
    color: #757575;
    padding-right: 5px;
}

.wrapper .content-wrapper .pinned-msg {
    position: absolute;
    right: 18px;
    color: #4285f4;
}

.content-wrapper:hover .pinned-msg {
    display: none;
}

.wrapper .main-wrapper.mail-selected {
    background: #edf4fd !important;
}

.wrapper .content-wrapper.item-selected>.main-wrapper .actions ul,
.wrapper .content-wrapper.item-selected>.main-wrapper .image>img {
    display: none !important;
}

.wrapper .attachments {
    position: relative;
    margin-bottom: 10px;
}

.wrapper .main-wrapper {
    border: 1px solid transparent;
}

.wrapper .attachments-wrapper {
    padding-left: 245px;
    white-space: nowrap;
    overflow: hidden;
}

.attachments .document {
    width: 132px !important;
    padding: 5px;
}

.attachments .picture {
    width: 132px !important;
    height: 88px !important;
    padding: 0 !important;
}

.attachments .video {
    width: 380px !important;
    height: 88px !important;
    padding: 0 !important;
}

.attachments .video-clip {
    position: relative;
    float: left;
    width: 132px;
    height: 88px;
}

.attachments .video-clip>i {
    position: absolute;
    font-size: 40px !important;
    opacity: 0.5;
    color: #424242;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -27px !important;
    margin-top: -20px !important;
}

.attachments .video-clip>img {
    max-width: 100%;
    max-height: 100%;
}

.attachments .video-info {
    padding-top: 25px;
    font-weight: 400;
}

.attachments .video-info span {
    color: #757575;
    display: inline-block;
    margin-top: 5px;
}

.attachments .item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    color: #424242;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
    font-weight: 500;
    height: 28px;
    transition: all 0.2s;
}

.attachments.has-pictures .item {
    height: 88px !important;
}

.attachments .doc-name {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 25px;
}

.attachments.has-pictures .doc-name {
    padding: 5px !important;
    height: 39px;
}

.attachments .doc-type {
    position: absolute;
    top: 6px;
}

.attachments.has-pictures .doc-type {
    line-height: 34px;
    position: relative;
}

.attachments.has-pictures .doc-type span {
    font-size: 11px;
    color: #757575;
    display: inline-block;
}

.attachments .doc-type span {
    display: none;
}

.attachments .item:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.26);
}

.attachments .item i {
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}

.attachments button {
    opacity: 0;
    visibility: hidden;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.14);
    transition: all 0.3s;
}

.attachments:hover button {
    opacity: 1;
    visibility: visible;
}

.next-btn,
.prev-btn {
    top: 50%;
    color: #fafafa;
    margin-top: -17px;
    position: absolute;
    display: inline-block;
}

.next-btn>button,
.prev-btn>button {
    font-weight: bold;
    color: #e5e5e5;
}

.next-btn {
    right: -15px;
}

.prev-btn {
    left: -15px;
}

.next-btn:hover>button,
.prev-btn:hover>button {
    color: #000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.wrapper .mail-wrapper {
    margin: 2% 8%;
    transition: all 0.1s ease-in-out;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

.wrapper .mail-wrapper .mail-top {
    cursor: pointer;
    padding: 20px;
}

.wrapper .mail-wrapper .mail-body .someClass {
    margin: 0 20px 0 16px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: nowrap;
}

.wrapper .mail-wrapper .mail-body .someClass .sender {
    margin-top: 20px;
}

.wrapper .mail-wrapper .mail-body .someClass .sender> :first-child {
    font-weight: bold;
}

.wrapper .mail-wrapper .mail-body .someClass .message {
    padding: 30px 40px 20px 0;
}

.wrapper .mail-wrapper .mail-footer {
    background: rgba(117, 117, 117, 0.07);
}

.wrapper .mail-wrapper .mail-footer .replybox {
    margin: 0 20px;
    width: auto;
    overflow: hidden;
}

.wrapper .mail-wrapper .mail-footer .replybox:after {
    content: "";
    clear: both;
    left: 0;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft {
    margin-top: 20px;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft span {
    cursor: pointer;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(1) {
    color: #db4437;
    font-weight: bold;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft i,
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(2) {
    color: #999;
    font-weight: bold;
}

.wrapper .mail-wrapper .mail-footer .replybox .draft i:hover,
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(2):hover {
    color: #333;
}

.wrapper .mail-wrapper .mail-footer .replybox textarea {
    font-family: inherit;
    background: rgba(117, 117, 117, 0.01);
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    height: 60px;
}

.wrapper .mail-wrapper .mail-footer .replybox div {
    margin-bottom: 10px;
}

.wrapper .mail-wrapper .mail-footer .replybox a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}

.wrapper .mail-wrapper .mail-footer .replybox a:nth-child(2) {
    transform: rotate(-45deg);
}

.wrapper .mail-wrapper .mail-footer .replybox a.send-btn {
    cursor: pointer;
    background: #4285f4;
    text-decoration: none;
    position: relative;
    padding: 8px;
    font-size: 13px;
    border-radius: 2px;
    color: white;
    font-weight: normal;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 4px 6px rgba(0, 0, 0, 0.24);
}

.wrapper .mail-wrapper .mail-footer .replybox a.send-btn:hover {
    background: #2a75f3;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14), 0 6px 8px rgba(0, 0, 0, 0.24);
}

.wrapper .mail-wrapper img {
    width: 36px;
}

.wrapper .shadow {
    box-shadow: 0 -1px 1px #e5e5e5, 0 2px 1px rgba(0, 0, 0, 0.12);
}

.image {
    float: left;
    padding: 8px;
    position: relative;
}

.image>img {
    width: 28px;
    border-radius: 50%;
}

.show {
    transform: translateX(0px);
    opacity: 1;
}

.hide {
    opacity: 0;
    transform: translateX(-250px);
}

.sidebar {
    position: fixed;
    z-index: 1;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 220px;
    overflow: auto;
    transition: all 0.2s ease;
}

.sidebar a {
    text-decoration: none !important;
}

.sidebar .selected-menu {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.sidebar ul {
    position: relative;
    padding: 12px 8px 52px;
}

.sidebar ul li {
    list-style: none;
    position: relative;
}

.sidebar ul li input[type="checkbox"] {
    display: none;
}

.sidebar ul li label {
    position: relative;
}

.sidebar ul li label:after {
    content: "\f0d7 ";
    font-family: fontAwesome;
    position: absolute;
    right: 30px;
    top: 40%;
}

.sidebar ul li input[type="checkbox"]:checked~label {
    background: white;
}

.sidebar ul li input[type="checkbox"]:checked~label:hover {
    background: none;
}

.sidebar ul li input[type="checkbox"]:checked~label:after {
    content: "\f0d8";
}

.sidebar ul li input[type="checkbox"]:checked~ul {
    background: white;
    color: #9b9b9b;
    max-height: 200px;
    transition: all 0.6s ease;
}

.sidebar ul li:hover {
    background: rgba(0, 0, 0, 0.02);
}

.sidebar ul li.separator {
    border-bottom: 1px solid #ddd;
}

.sidebar ul li a,
.sidebar ul li label {
    display: block;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    color: #9b9b9b;
    font-weight: 600;
}

.sidebar ul li a span,
.sidebar ul li label span {
    display: inline-block;
    padding-left: 20px;
}

.sidebar ul li a i,
.sidebar ul li label i {
    display: inline-block;
}

.sidebar ul li ul {
    position: relative;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
}

.sidebar ul li ul li {
    position: relative;
    list-style: none;
}

.sidebar ul li ul li:hover {
    color: #9b9b9b;
}

.color-green {
    color: #33ac71;
}

.color-amber {
    color: #e6e61a;
}

.color-cyan {
    color: #00b3b3;
}

.color-blue {
    color: #4285f4;
}

.color-red {
    color: #cc3333;
}

.color-orange {
    color: #ef6c00;
}

.color-purple {
    color: rebeccapurple;
}

.color-grey {
    color: #616161;
}

.left {
    float: left;
}

.right {
    float: right;
}

.font:after {
    content: "\f031";
    font-family: "fontAwesome";
}

.arrow:after {
    content: "\f107";
    font-family: "fontAwesome";
}

.floating-btn {
    position: fixed;
    z-index: 99999;
    right: 20px;
    bottom: 50px;
}

.floating-btn:hover .action-btn {
    transform: rotate(360deg);
}

.floating-btn:hover .action-btn:after {
    content: "\f040";
}

.floating-btn:hover>.floating-menus li button {
    opacity: 1;
    transform: scale(1);
}

.floating-btn:hover>.floating-menus li:nth-child(5) button {
    transition: all 0.2s ease;
}

.floating-btn:hover>.floating-menus li:nth-child(4) button {
    transition: all 0.2s ease 0.05s;
}

.floating-btn:hover>.floating-menus li:nth-child(3) button {
    transition: all 0.2s ease 0.1s;
}

.floating-btn:hover>.floating-menus li:nth-child(2) button {
    transition: all 0.2s ease 0.15s;
}

.floating-btn:hover>.floating-menus li:nth-child(1) button {
    transition: all 0.2s ease 0.2s;
}

.floating-menus {
    margin-bottom: 20px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100;
    width: 40px;
    list-style: none;
    padding-bottom: 15px;
}

.floating-menus li button {
    position: relative;
    border: none;
    outline: none;
    margin: 5px 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    opacity: 0;
    transform: scale(0);
}

.floating-menus li button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.floating-menus li button span {
    display: none;
    position: absolute;
    padding: 6px;
    white-space: nowrap;
    color: #ececec;
    background: rgba(70, 70, 70, 0.9);
    right: 115%;
    top: 16%;
    border-radius: 3px;
}

.floating-menus li button:hover span {
    display: block;
}

.floating-menus li:nth-child(1) button {
    transition: all 0.2s ease;
}

.floating-menus li:nth-child(2) button {
    transition: all 0.2s ease 0.05s;
}

.floating-menus li:nth-child(3) button {
    transition: all 0.2s ease 0.1s;
}

.floating-menus li:nth-child(4) button {
    transition: all 0.2s ease 0.15s;
}

.floating-menus li:nth-child(5) button {
    transition: all 0.2s ease 0.2s;
}

.floating-menus li>button.invite-action {
    background: url(https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_speeddialbg_clr_r1.png) center center no-repeat;
}

.floating-menus li>button.invite-action img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.msg-compose {
    position: absolute;
    height: 500px;
    width: 480px;
    bottom: 0;
    right: 0;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.msg-compose.minimized {
    height: 40px;
    width: 240px;
}

div.minimized {
    width: 240px;
}

.msg-compose .msg-content-wrapper {
    height: 100%;
}

.msg-compose.minimized .msg-content-wrapper {
    display: none;
}

.msg-compose input,
.msg-compose textarea {
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    padding: 10px;
}

.msg-compose .msg-compose-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.msg-compose .msg-compose-wrapper .msg-title-bar {
    height: 40px;
    background: #555;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.msg-compose .msg-compose-wrapper .msg-title-bar a {
    text-decoration: none;
    color: white;
}

.msg-compose .msg-compose-wrapper .msg-title-bar div {
    display: inline-block;
    line-height: 40px;
    margin: 0 10px;
}

.msg-compose .msg-compose-wrapper .msg-title-bar div i {
    margin: 0 5px;
}

.msg-compose .msg-compose-wrapper .msg-recipients {
    background: white;
    border-bottom: 1px solid #c6c6c6;
}

.msg-compose .msg-compose-wrapper .msg-recipients .cc-list.expanded,
.msg-compose .msg-compose-wrapper .msg-recipients .bcc-list.expanded {
    display: block;
}

.msg-compose .msg-compose-wrapper .msg-recipients .cc-list,
.msg-compose .msg-compose-wrapper .msg-recipients .bcc-list {
    display: none;
}

.msg-compose .msg-compose-wrapper .msg-recipients .to-list {
    padding-right: 30px;
    position: relative;
}

.msg-compose .msg-compose-wrapper .msg-recipients .to-list span.arrow {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #999;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0 0 0 3px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.msg-compose .msg-compose-wrapper .msg-recipients .to-list span.arrow:hover {
    border-radius: 2px;
    border: 1px solid #ccc;
}

.msg-compose .msg-compose-wrapper .msg-subject {
    background: white;
    min-height: 30px;
}

.msg-compose .msg-compose-wrapper .msg-subject input {
    height: 30px;
    font-weight: 800;
}

.msg-compose .msg-compose-wrapper .msg-body {
    height: 70%;
    padding-bottom: 5px;
}

.msg-compose .msg-compose-wrapper .msg-body textarea {
    font-family: inherit;
    display: block;
    height: 100%;
}

.msg-compose .msg-compose-wrapper .msg-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #c6c6c6;
    font-size: 16px;
}

.msg-compose .msg-compose-wrapper .msg-footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
}

.msg-compose .msg-compose-wrapper .msg-footer a.send-btn {
    background: #4285f4;
    -webkit-transform: translate3d(0, 0, 0);
    position: relative;
    text-decoration: none;
    padding: 8px;
    text-align: center;
    width: 50px;
    font-size: 13px;
    border-radius: 2px;
    color: white;
    font-weight: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.msg-compose .msg-compose-wrapper .msg-footer a.send-btn:hover {
    background: #2a75f3;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.14), 0 6px 8px rgba(0, 0, 0, 0.24);
}

.msg-compose .msg-compose-wrapper .msg-footer div {
    margin: 0 15px;
}

.msg-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 87px;
    position: fixed;
    direction: rtl;
    z-index: 9999;
    transform: translateZ(0);
}

.msg-compose-container {
    border-spacing: 15px 0;
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.row > div.cell:nth-last-child(2) {
    padding-left: 480px;
}

.empty-cell {
    display: table-cell;
}

.empty-cell:after {
    content: "";
    font-size: 0;
}

.cell {
    width: 480px;
    display: table-cell;
    margin-right: 15px;
    direction: ltr;
}

.wrap {
    position: relative;
}

.template {
    display: none;
}

.ink {
    position: absolute;
    display: block;
    border-radius: 50%;
    background: #333;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
}

.ink.animate {
    -webkit-animation: animate 0.3s linear;
    animation: animate 0.3s linear;
}

@keyframes animate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@-webkit-keyframes animate {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

.dialog-overlay {
    position: fixed;
    background: rgba(10, 10, 10, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.dialog-overlay .dialog {
    top: 50%;
    left: 50%;
    padding: 10px;
    min-width: 240px;
    max-width: 400px;
    min-height: 100px;
    background: white;
    position: absolute;
    margin-top: -114px;
    margin-left: -200px;
    animation: grow 0.2s ease forwards;
    -webkit-animation: grow 0.2s ease forwards;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
}

.dialog-overlay .dialog .dialog-content .dialog-header {
    padding: 20px 10px;
}

.dialog-overlay .dialog .dialog-content .dialog-header h3 {
    font-weight: normal !important;
}

.dialog-overlay .dialog .dialog-content .dialog-header i {
    color: #4285f4;
    margin: 0px 10px;
}

.dialog-overlay .dialog .dialog-content .dialog-body {
    margin: 14px 10px;
}

.dialog-overlay .dialog .dialog-content .dialog-body input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 10px 0px;
    position: relative;
}

.dialog-overlay .dialog .dialog-content .dialog-body input:focus+.border {
    border-bottom: 2px solid #4285f4;
}

.dialog-overlay .dialog .dialog-content .dialog-body .border {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 30px;
    border-bottom: 2px solid transparent;
    height: 2px;
}

.dialog-overlay .dialog .dialog-content .dialog-footer a {
    float: right;
    padding: 8px;
    margin: 5px;
    background: transparent;
    cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
    color: #757575;
    text-decoration: none;
}

.dialog-overlay .dialog .dialog-content .dialog-footer a:hover {
    background: rgba(198, 198, 198, 0.7);
}

.dialog-overlay .dialog .dialog-content .dialog-footer a.dialog-action {
    color: #4285f4;
}

@-webkit-keyframes grow {
    from {
        -webkit-transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
    }
}

.actions-modal {
    top: 35px;
}

.actions-modal {
    right: 0;
    z-index: 999;
    width: 250px;
    font-size: 13px;
    position: absolute;
    background: white;
    line-height: normal;
    display: inline-block;
    /* animation: grow 0.1s; */
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

.actions-modal .actions-footer {
    border-top: 1px solid #e5e5e5;
    background: #fafafa;
}

.actions-modal .actions-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    font-size: 13px;
    color: #212121;
}

.actions-header .actions-header-title {
    font-weight: 400;
    font-size: 1.2em;
    padding: 0 10px;
}

.actions-modal .action-item {
    list-style: none;
    display: block;
    cursor: pointer;
}

.actions-list {
    overflow: auto;
}

.actions-modal .actions-footer a.action-item,
.actions-modal .actions-body .actions-list a {
    color: #212121;
    text-decoration: none;
    padding: 15px;
    display: block;
    opacity: 1;
}

.actions-modal .actions-footer a.action-item:hover,
.actions-modal .actions-body .actions-list a:hover {
    background: #e5e5e5;
}

.actions-modal i {
    width: 20px;
    margin: 0 10px;
    font-size: 14px !important;
}

.snooze-container,
.settings-container {
    position: relative;
}

.empty-page-wrapper {
    position: relative;
    margin: 20px auto;
    width: 80%;
}

.snooze-empty-page-wrapper {
    border: 1px solid transparent;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.07), inset 0 1px 2px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: orange;
}

.snooze-empty-page-wrapper .snooze-content {
    text-align: center;
    margin: 25% 0;
    padding: 0 20px;
    color: #5d4037;
}

.snooze-content .clock {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.snooze-content .clock::before,
.snooze-content .clock::after {
    content: "";
    position: absolute;
    background: orange;
    width: 5px;
    height: 28px;
    transform: translateX(-2.5px);
}

.snooze-content .clock::before {
    top: 23px;
}

.snooze-content .clock::after {
    transform: rotate(135deg);
    top: 45px;
    right: 38px;
}

.snooze-empty-page-wrapper .snooze-content>span {
    font-size: 17px;
    margin-top: 10px;
    display: inline-block;
}

.inbox-empty-page-wrapper .inbox-content,
.done-empty-page-wrapper .done-content {
    padding: 0 20px;
    color: #fff;
    background: #33ac71;
    height: 100px;
    margin: 0 10%;
    border-radius: 2px;
}

.inbox-empty-page-wrapper .inbox-content {
    background: #4285f4;
}

.inbox-empty-page-wrapper .inbox-content>span,
.done-empty-page-wrapper .done-content>span {
    margin: 24px 0;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.inbox-content>button,
.done-content>button {
    position: absolute;
    bottom: 10px;
    right: 170px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    border-radius: 2px;
}

.inbox-content>button:hover,
.done-content>button:hover {
    background: rgba(255, 255, 255, 0.15);
}
