@use 'variables';

.show {
    transform: translateX(0px);
    opacity: 1;
}

.hide {
    opacity: 0;
    transform: translateX(-250px);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.color-green {
    color: variables.colors(green);
}

.color-amber {
    color: variables.colors(amber);
}

.color-cyan {
    color: variables.colors(cyan);
}

.color-blue {
    color: variables.colors(primary);
}

.color-red {
    color: variables.colors(red);
}

.color-orange {
    color: variables.colors(orange);
}

.color-purple {
    color: variables.colors(purple);
}

.color-grey {
    color: variables.colors(grey);
}

.left {
    float: left;
}

.right {
    float: right;
}

.font:after {
    content: "\f031";
    font-family: "fontAwesome";
}

