$closed-height: 47px;
$animation_speed: 300ms;

 // Mixin for the box shadow.  Ripped verbatim from Google Inbox :)
@mixin shadow() {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.24);
}

.mail-content-details {
    width: 100%;
    line-height: 1.5;
}

.mail-wrapper {
    margin: 0 10%;
    position: relative;
    transition: all $animation_speed;
}

 // Message details start out hidden and are brought in via Javascript
.mail-content-details {
    width: 100%;
    left: -5000px;
    position: absolute;

    .mail-body, .mail-footer {
        opacity: 0.0001;
    }
}

.grower {
    top: 0;
    height: 0;
    width: 100%;
    position: absolute;
    background: #fff;
    transform: scale(1, 1);
    transform-origin: center top;
}

.mail-wrapper.mail--opening,
.mail-wrapper.mail--open {
    margin: 2% 8% !important;
}

.mail-wrapper.mail--open {
    box-shadow: 0 0 2px rgba(0,0,0,.16),0 2px 4px rgba(0,0,0,.32);
}

.mail--opening {
    .grower {
        height: $closed-height;
        animation: scale-out $animation_speed forwards;
    }

    > .mail__summary {
        animation: fade-out $animation_speed forwards;
    }
}

.mail--open {
    .grower {
        display: none;
    }

    .mail-content-details {
        opacity: 1;
        display: block;
        position: static;
    }

    .mail-body {
        animation-name: fade-in;
        animation-fill-mode: forwards;
        animation-duration: $animation_speed;
    }

    .mail-footer {
        animation-name: fade-in;
        animation-fill-mode: forwards;
        animation-duration: 100ms;
    }
}

.mail--closing {
    .mail-content-details {
        display: none;
    }

    // Fade in both the pseudo element and summary element
    .mail__summary {
        &:before {
            opacity: 0;
            display: block;
            animation-name: fade-in;
            animation-fill-mode: forwards;
            animation-duration: $animation_speed;
        }

        opacity: 0;
        display: block;
        animation-name: fade-in;
        animation-fill-mode: forwards;
        animation-duration: $animation_speed;
    }

    .pusher.closing {
        animation-fill-mode: forwards;
        animation-duration: $animation_speed;
    }
}


@keyframes fade-out {
    0%,
    33% {
        opacity: 0.9999;
    }

    100% {
        opacity: 0.0001;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.0001;
    }

    100% {
        opacity: 0.9999;
    }
}

