@use 'variables';

.mail-wrapper {
    margin: 50px 8%;
    background: white;

    .mail-summary {
        cursor: pointer;
        padding: 20px;
    }

    .mail-body {
        .mail-details {
            margin: 0 20px 0 16px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: nowrap;

            .sender {
                margin-top: 17px;

                &>:first-child {
                    font-weight: bold;
                }
            }

            .message {
                padding: 30px 40px 20px 0;
            }
        }
    }

    .mail-footer {
        background: rgba(#757575, .07);

        .replybox {
            margin: 0 20px;
            width: auto;
            overflow: hidden;

            &:after {
                content: "";
                clear: both;
                left: 0;
            }

            .draft {
                margin-top: 20px;

                span {
                    cursor: pointer;
                }

                span:nth-child(1) {
                    color: #db4437;
                    font-weight: bold;
                }

                i, span:nth-child(2) {
                    color: #999;
                    font-weight: bold;

                    &:hover {
                        color: #333;
                    }
                }
            }

            textarea {
                font-family: inherit;
                background: rgba(#757575, .01);
                outline: none;
                border: none;
                width: 100%;
                resize: none;
                height: 60px;
            }

            div {
                margin-bottom: 10px;
            }
        }

        .quick-reply {
            height: 55px;
            line-height: 55px;
            cursor: pointer;

            .image {
                height: 55px;
            }

            span {
                color: #757575;
                font-weight: 500;
            }

            .action {
                float: right;
                color: #757575;
                font-size: 16px;
                font-weight: 900;
                margin-right: 20px;
            }
        }
    }

    img {
        width: 36px;
    }
}
