@use 'common';

$closed-height: 47px;
$scroll-height: 100vh;
$animation_speed: 300ms;

 // Mixin for the box shadow.  Ripped verbatim from Google Inbox :)
 @mixin shadow() {
     bottom: 0;
     box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12),
         0 2px 4px rgba(0, 0, 0, 0.24);
     content: "";
     display: block;
     left: 0;
     pointer-events: none;
     position: absolute;
     right: 0;
     top: 0;
 }

 .mail-content-details {
    line-height: 1.5;
    width: 100%;
 }

.mail-wrapper {
    margin: 0 10%;
    position: relative;
    transition: all $animation_speed;
}

 // Message details start out hidden and are brought in via Javascript
 .mail-content-details {
    position: absolute;
    left: -5000px;
    width: 100%;
 }

 .grower {
    top: 0;
    height: 0;
    width: 100%;
    position: absolute;
    background: #fff;
    transform: scale(1, 1);
    transform-origin: center top;
 }

.mail-wrapper.mail--opening,
.mail-wrapper.mail--open {
    margin: 2% 8% !important;
}

.mail-wrapper.mail--open {
    box-shadow: 0 0 2px rgba(0,0,0,.16),0 2px 4px rgba(0,0,0,.32);
}

 // Opening animation class
 // Only applied when animating, it's removed after the animation
 .mail--opening {
     .grower {
        height: $closed-height;
        animation: scale-out $animation_speed forwards;
     }

     // Unhide the details, but keep them off screen
     .mail-content-details {
        display: block;
     }

     // Hide the pseudo element when animating (the box-shadow) so it looks like
     // the summary itself is growing.  We'll then fade out the summary.
     > .message__summary {
        animation: fade-out $animation_speed forwards;
     }
 }

 // Opened class.  Applied after the open animation.
.mail--open {
    .grower {
        display: none;
    }

    // We now bring in the details
    .mail-content-details {
        display: block;
        opacity: 0.0001;
        position: static;
        animation-name: fade-in;
        animation-fill-mode: forwards;
        animation-duration: $animation_speed;
    }
}

@keyframes fade-out {
    0%,
    33% {
        opacity: 0.9999;
    }

    100% {
        opacity: 0.0001;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.0001;
    }

    100% {
        opacity: 0.9999;
    }
}

// @keyframes scale-out {
//     0% {
//         transform: scale(1, 1);
//     }

//     80%,
//     100% {
//         transform: scale(1, (182 + 47) / 47);
//     }
// }
