.sidebar {
    position: fixed;
    z-index: 1;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 220px;
    overflow: auto;
    transition: all 0.2s ease;
}

.sidebar a {
    text-decoration: none !important;
}

.sidebar .selected-menu {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.sidebar ul {
    position: relative;
    padding: 12px 8px 52px;
}

.sidebar ul li {
    list-style: none;
    position: relative;
}

.sidebar ul li input[type="checkbox"] {
    display: none;
}

.sidebar ul li label {
    position: relative;
}

.sidebar ul li label:after {
    content: "\f0d7 ";
    font-family: fontAwesome;
    position: absolute;
    right: 30px;
    top: 40%;
}

.sidebar ul li input[type="checkbox"]:checked~label {
    background: white;
}

.sidebar ul li input[type="checkbox"]:checked~label:hover {
    background: none;
}

.sidebar ul li input[type="checkbox"]:checked~label:after {
    content: "\f0d8";
}

.sidebar ul li input[type="checkbox"]:checked~ul {
    background: white;
    color: #9b9b9b;
    max-height: 200px;
    transition: all 0.6s ease;
}

.sidebar ul li:hover {
    background: rgba(0, 0, 0, 0.02);
}

.sidebar ul li.separator {
    border-bottom: 1px solid #ddd;
}

.sidebar ul li a,
.sidebar ul li label {
    display: block;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    color: #9b9b9b;
    font-weight: 600;
}

.sidebar ul li a span,
.sidebar ul li label span {
    display: inline-block;
    padding-left: 20px;
}

.sidebar ul li a i,
.sidebar ul li label i {
    display: inline-block;
}

.sidebar ul li ul {
    position: relative;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
}

.sidebar ul li ul li {
    position: relative;
    list-style: none;
}

.sidebar ul li ul li:hover {
    color: #9b9b9b;
}
