<section>
    <article class="empty-page-wrapper">
        <div class="done-empty-page-wrapper">
            <div class="done-content">
                <span>Anything you mark done is safely stored here. Emails you've previously archived are here, too.</span>
                <button>GOT IT</button>
            </div>
        </div>
    </article>
    <article class="wrapper">
        <div class="header">
            <div class="time">Today</div>
            <div class="action">
                <button>
                    <i class="fa fa-check fa-lg"></i>
                </button>
            </div>
        </div>
        {{#each model as |message|}}
            {{mail-item
                mail = message
                showDone = true
                hideActions = true
            }}
        {{/each}}
    </article>
</section>