<section>
    <article class="empty-page-wrapper">
        <div class="done-empty-page-wrapper">
            <div class="done-content">
                <span>Anything you mark done is safely stored here. Emails you've previously archived are here, too.</span>
                <button>GOT IT</button>
            </div>
        </div>
    </article>
</section>