<div class="dialog-overlay">
    <div class="dialog">
        <div class="dialog-header">
            <div class="title">
                <h3>Share Inbox by Gmail</h3>
            </div>
        </div>
        <div class="dialog-body">
            <div>Invite a friend who wants to try Inbox. You have 10 invitations left.</div>
            <input type="text" placeholder="Email address">
            <div class="border"></div>
        </div>
        <div class="dialog-footer">
            <a href="#" class="dialog-action" {{action "close"}}>SEND AN INVITATION</a>
            <a href="#" {{action "close"}}>CANCEL</a>
        </div>
    </div>
</div>