<section>
    <article class="wrapper">
        <div class="header">
            <div class="time">Friday</div>
            <div class="action">
                <button>
                    <i class="fa fa-check fa-lg"></i>
                </button>
            </div>
        </div>
        {{#each @model as |message|}}
            <MailItem
                @mail={{message}}
                @isSelected={{globalSelect}}
            />
        {{/each}}
    </article>
</section>