<section>
    <article class="wrapper">
        <div class="header">
            <div class="time">Friday</div>
            <div class="action">
                <button>
                    <i class="fa fa-check fa-lg"></i>
                </button>
            </div>
        </div>
        {{#each model as |message|}}
            {{mail-item
                mail = message
                showSnooze = "showSnooze"
                showSettings = "showSettings"
                isSelected = globalSelect
                setSelected = "itemSelected"
            }}
        {{/each}}
    </article>
</section>