<section>
    <article class="empty-page-wrapper">
        <div class="snooze-empty-page-wrapper">
            <div class="snooze-content">
                <div class="clock"></div>
                <h2>Nothing in Snoozed</h2>
                <span>Anything you snooze will go here until it's time for it to return to the inbox.</span>
            </div>
        </div>
    </article>
</section>