<section>
    <article class="empty-page-wrapper">
        <div class="draft-empty-page-wrapper">
            <div class="draft-content">
                <div class="draft-envelope">
                    <span class="icon">
                        <i class="fa fa-warning"></i>
                    </span>
                </div>
                <h2>Nothing in Spam</h2>
                <span>Messages marked as spam will be shown here.</span>
            </div>
        </div>
    </article>
</section>